:root {
    --color-blue-default: #0432D3;
    --color-blue-hover: #1B4DFF;
    --color-blue-pressed: #0024A4;
    --color-black1: #000000;
    --color-black2: #050A1B;
    --color-grey1: #F2F5FC;
    --color-grey2: #D0D9EF;
    --color-grey3: #595C67;
    --color-grey4: #A6ACBB;
    --color-grey5: #98ABD9;
    --color-pink: #FFEEF1;
    --color-white: #FFFFFF;
  }