@font-face {
    font-family: 'EuclidCircularA';
    src: url('../fonts/EuclidCircularA/Regular.eot');
    src: url('../fonts/EuclidCircularA/Regular.eot?#iefix') format('embedded-opentype'), 
            url('../fonts/EuclidCircularA/Regular.woff2') format('woff2'), 
            url('../fonts/EuclidCircularA/Regular.woff') format('woff'),
            url('../fonts/EuclidCircularA/Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'EuclidCircularA';
    src: url('../fonts/EuclidCircularA/Medium.eot');
    src: url('../fonts/EuclidCircularA/Medium.eot?#iefix') format('embedded-opentype'),
            url('../fonts/EuclidCircularA/Medium.woff2') format('woff2'), 
            url('../fonts/EuclidCircularA/Medium.woff') format('woff'),
            url('../fonts/EuclidCircularA/Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'EuclidCircularA';
    src: url('../fonts/EuclidCircularA/SemiBold.eot');
    src: url('../fonts/EuclidCircularA/SemiBold.eot?#iefix') format('embedded-opentype'), 
            url('../fonts/EuclidCircularA/SemiBold.woff2') format('woff2'), 
            url('../fonts/EuclidCircularA/SemiBold.woff') format('woff'),
            url('../fonts/EuclidCircularA/SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }