h3 {
  font-family: 'EuclidCircularA', sans-serif;
  font-size: 28px;
  line-height: 120%;
  font-weight: 600;
  text-align: center;
  margin: 16px 0;
}

p {
  font-family: 'EuclidCircularA', sans-serif;
  font-size: 14px;
  line-height: 140%;
  font-weight: normal;
  text-align: center;
  margin: 0 20px;
}

a {
  color: var(--color-blue-default);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  text-decoration: none;
}

a:hover {
  color: var(--color-blue-hover);
  text-decoration: underline;
  cursor: pointer;
}

a:active {
  color: var(--color-blue-pressed);
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'EuclidCircularA';
  outline: none;
}

body {
  -webkit-font-smoothing: antialiased;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 8px 0;
}

.back {
  background: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;  
  cursor: pointer;
}

.back__icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url('../img/arrow_s.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.back.disable .back__icon{
  background-image: url('../img/arrow_s-d.svg');
}

.back__label {
  display: none;
  color: var(--color-black2);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  text-transform: capitalize;
}

.back.disable .back__label{
  color: var(--color-grey5);
}

.logo {
  height: 20px;
}

.skip {
  border: 2px solid var(--color-blue-default);
  background: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: var(--color-blue-default);
  height: 40px;
  width: 69px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.skip:hover {
    border: 2px solid var(--color-blue-hover);
    cursor: pointer;
}

.skip:active {
  border: 2px solid var(--color-blue-pressed);
}

.step > input,
.step section > div {
  display: none;
}

#step-1:checked ~ section .step-1,
#step-2:checked ~ section .step-2,
#step-3:checked ~ section .step-3 {
  display: block;
}

.step ul {
  list-style: none;
  margin: 24px 0 16px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.step ul li label {
    display: block;
    width: 12px;
    height: 4px;
    background-color: var(--color-grey2);
    margin: 0 6px;
}

.step ul li label:hover {
  cursor: pointer;
}

.step ul li:not(:last-child) label {
  border-right-width: 0;
}

.step section {
  clear: both;
}

#step-1:checked ~ nav .step-1 label,
#step-2:checked ~ nav .step-2 label,
#step-3:checked ~ nav .step-3 label {
    width: 32px;
    height: 4px;
    background-color: var(--color-blue-pressed);
}
.card {
  position: relative;
  height: 432px;
  margin: 50px 0 32px;
}
.card>div:not(.tooltip) {
  border: 2px solid var(--color-grey2);
  height: 292px;
  width: calc(100% - 20px);  
  background: var(--color-white);
  padding: 28px;
}

.card__back {
  position: absolute;
  right: 20px;
  top: 138px;
  z-index: 1;
  border-radius: 0 0 20px 0;
  border-left: none!important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 28px 25px;
}

.card__front {
  position: absolute;
  right: unset;
  left: 20px;
  z-index: 2;
  border-radius: 20px 0 0 20px;
  border-right: none!important;
}

.card__chip {
  width: 36px;
  margin-bottom: 23px;
}

.card__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 18px;
}

.card__input label {
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 6px;
}

.card__input input {
  background: var(--color-grey1);
  height: 56px;
  border: none;
  border: 1px solid var(--color-grey1);
  padding: 18px 20px;
  font-size: 16px;
  color: var(--color-black2);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.card__input input:focus {
  background: none;
  border: 1px solid var(--color-blue-default);
}

.card__input input:disabled {
  color: var(--color-grey4);
}

.card__input input.error {
  background: var(--color-pink);
}

.card__input .card__name {
  width: calc(100% - 14px);
}

.card__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__expiry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--color-grey1);
}

.card__expiry #card__expiry-mm {
  padding-right: 5px;
  width: 55px;
}

.card__expiry #card__expiry-mm:focus{
  border-right: none;
}

.card__expiry #card__expiry-yy {
  padding-left: 0;
  width: 45px;
}

.card__expiry #card__expiry-yy:focus{
  border-left: none;
}

.card__input.card__cvc {
  width: 88px;
  margin-bottom: 0;
}

.card__input.card__cvc label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__input.card__cvc label img {
  margin-left: 3px;
  cursor: pointer;
}

.tooltip {
  font-size: 14px;
  line-height: 140%;
  width: 174px;
  height: 114px;
  padding: 28px 23px 0 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;  
  background: url(../img/tooltip.svg) no-repeat;
  color: var(--color-white);  
  display: none;
  right: 8px;
  top: 201px;
  position: absolute;  
  z-index: 5;
}

.tooltip__off {
  position: absolute;
  right: 11px;
  top: 15px;
  cursor: pointer;
}

.next {
  width: 149px;
  height: 48px;
  background: var(--color-blue-default);
  color: var(--color-white);
  font-size: 16px;
  line-height: 1.4;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: capitalize;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  border: none;
}

.next:hover {
  background: var(--color-blue-hover);
  cursor: pointer;
}

.next:active {
  background: var(--color-blue-pressed);
}

.next img {
  margin-left: 10px;
}

.connect {
  padding: 20px;
}

.connect p {
  margin: 8px 0;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
}
.connect__photos {
  margin-top: 40px;
}

.center-mt2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

@media (min-width: 376px) {
  .back__icon {
    width: 48px;
    height: 48px;
    background-image: url('../img/arrow_m.svg');
  }
  .back.disable .back__icon{
    background-image: url('../img/arrow_m-d.svg');
  }
}

@media screen and (min-width: 435px) {  
  .card__input .card__name {
    width: 100%;
  }
  .card__front .card__inputs>div:first-child {
    width: calc(100% - 120px);
  }
}

@media screen and (min-width: 500px) {
  .card>div:not(.tooltip) {
    width: 460px;  
    border: 2px solid var(--color-grey2);
    border-radius: 20px;
  }
  .card__back {
    border-left: 2px solid var(--color-grey2)!important;
  }
  .card__front {
    border-right: 2px solid var(--color-grey2)!important;
  }
}

@media screen and (min-width: 645px) {
  .card__back {
    top: 40px;
  }
}

@media screen and (min-width: 662px) {
  .card {
    width: 634px;
    margin: 33px auto;
    height: 333px;
  }
  section {
    width: 634px;
    margin: 0 auto;
  }
}

@media (min-width: 769px) {
  .back__icon {
    background-image: url('../img/arrow_l.svg');
    width: 20px;
    height: 20px;
  }
  .back.disable .back__icon{
    background-image: url('../img/arrow_l-d.svg');
  }
  .back__label {
    display: inline-block;
  }
}